
:root{
    --primary-color:#e3f6f5; 
    --heading-font-family: "playfair display";
    --default-font-family: "poppins";
    --secondary-color:#393e46;
    --third-color:#5dacbd;
}

.index p{
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
}

.index h2{
    font-size: 64px;
    font-family: var(--heading-font-family);
   
}
.hero{
    background-color: var(--primary-color);
    text-align: center;
    padding: 130px 20px;
}

.hero p{
    font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);

  font-family: var(--default-font-family);
}



.hero h1{
    font-size: 96px;
    color:var(--third-color);
    font-family: var(--heading-font-family);
    
   
}
.hero h2{
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    color: black;
}

.btn-contact{
background-color: var(--third-color);
border-radius: 4px;
color: white;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
text-decoration: none;
}

.intro{

    font-size: 20px;
    color: var(--third-color);
    font-family: var(--default-font-family);
}

.btn-projects{
    background-color: white;
    border: 2px solid var(--third-color);
    border-radius: 4px;
    color:var(--third-color);
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    padding: 15px 30px;
    text-decoration: none;
    
    }

.btn-projects:hover
    {
        background-color: var(--third-color);
        color: white;
    }

.index .description{

   padding: 100px 60px; 
}


.content-container{
    padding: 80px 60px; 
    text-align: justify;
}

.content{
margin: 30px;


}

.content-container h1{
    font-size:60px;
    line-height: 80px;
    font-family: var(--heading-font-family);
    color: var(--third-color);
}

.content-container h2{
    font-size: 18px;
    font-family: var(--default-font-family);
    font-weight: bold;
}

.hi{
    color: var(--secondary-color);
    font-style: italic;
    opacity: 50%;
    font-size: 45px;
}

.content h3{
font-size: 24px;
font-family: var(--default-font-family);
line-height: 1.5;
font-weight: bold;
}

.content p .about{
    font-size: 14px;
    font-family: var(--default-font-family);
    }




nav ul{
    padding: 0;
    margin: 0;

}
nav li{
    font-size: 18px;
    display: inline;
    list-style: none;
    line-height: 60px;
    font-family: var(--default-font-family);
    margin-left: 18px;
}

nav{
    padding: 10px 0;

}
nav a{
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}

nav a:hover, nav a.active {
    color: var(--third-color);
}

.logo{
    max-height: 70px;
}



@media(max-width: 900px){

    nav li{
        font-size: 14px;
    }
   .hero h1{
        font-size: 55px;
        line-height: 2;

    }

    .hero h2{
        font-size: 44px;

    }
    .index .description{
        padding: 0 20px;
        text-align: justify;
    }

    .hero{
        padding: 80px 20px;
    }

   
    .content-container .row{
        
        padding: 0;
        margin: 0;
    }

    .content-container p{
        text-align: justify;
    }

    .content-container{
        
        padding: 0 10px;
        margin: 0;
        text-align: center;
    }


}
